<% include partials/_header %>
<head>
    <script src= "https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
    <script src = "https://code.jquery.com/jquery-3.6.3.js"></script>
</head>


<style>
   
.Happy {
        
        position: relative;  
        text-align: center;
        object-fit: cover;
        width: 100%;
        height: auto;
       color: #F16375;
}
.img {
    max-width: 100%;
    height: auto;
}
@font-face {
    font-family: Font_family1;
    src: url('/Playlist_Script.ttf');
}
.txt {
    position: absolute;
    font-family: Font_family1;
    font: Playlist_Script;
    text-align: center;
    width: 100%;
    top: 16%;
    font-size: 4rem;
    color: #F16375;
}
.img2 {
    padding-top: 12.5rem;

}

@media only screen and (max-width:1110px){
    .txt {
    
    width: 20;
    font-size: 3rem;
}

}
@media only screen and (max-width:720px){
    .txt {
        
    font-size: 2rem;
    
}

}
@media only screen and (max-width:450px){
    .txt {
    
    font-size: 1rem;
}

}

</style>

<body>
                <div class= 'Happy' id="photo">
                    <img = src="../public/Template.png" class="img">
                    <h1 class="txt">
                        <%= data.name %>
                        
                        <p id= "demo" class="img2"></p>
                    </h1>
                </div>
                <div class="container col.1">     
                <button type="button" class="btn btn-outline-dark" onclick="myFunction()">PrabidhiLabs</button>
                <button type="button" class="btn btn-outline-dark" onclick="convert()">Screenshot</button>
                <hr><div class="result">
                    <a href=""><button>Download JPG</button>
                    </a>

                    
                </div>
                </div>
                
                
            
</body>


<script type="text/javascript">
    function myFunction(){
        document.getElementById("demo").innerHTML = "<img src= '../public/LogoNew.svg'>";

    }


    const div = document.querySelector(".Happy");
        const result = document.querySelector(".result");
 
        function convert() {
            html2canvas(div).then(function (canvas) {
                result.appendChild(canvas);
                let cvs = document.querySelector("canvas");
                let dataURI = cvs.toDataURL("image/jpeg");
                let downloadLink = document.querySelector(".result>a");
                downloadLink.href = dataURI;
                downloadLink.download = "div2canvasimage.jpg";
                console.log(dataURI);
            });
            result.style.display = "block";
 
        }
    </script>
    



        
    
    

    
</script>


<% include partials/_footer %>