body {
    background-image: url("Template.png");
    background-color: #4a318d;
    background-repeat: no-repeat;
   }


@font-face {
    font-family: Font_family1;
    src: url(Playlist_Script.ttf);
}



p {
   
    font-size: 175px;

    color: #F16375;
}